/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(144, 146, 159);
  background: linear-gradient(
    180deg,
    rgba(144, 146, 159, 1) 0%,
    rgba(77, 77, 77, 1) 100%
  );
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-bottom: 2px solid #ccc;
}

.header-left {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-right a {
  text-decoration: none;
  color: #0073e6;
  font-size: 1rem;
}

header a:hover {
  text-decoration: underline;
}

main {
  padding: 20px 50px;
}

.main-container {
  margin: 0 auto; /* Centers the container horizontally */
  width: 75%; /* Sets the width to 50% of the screen */
}

.dashboard {
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center; /* Centers text inside the container */
  color: black;
}

.content-section {
  margin: 20px auto; /* Centers the div horizontally */
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  min-height: 200px; /* Placeholder height */
  border: 5px solid black;
  border-radius: 15px;
}

section h2 {
  font-size: 2rem;
}

section p {
  padding: 0 1rem;
  line-height: 2rem;
}

section ul,
section ol {
  padding: 0 3rem;
}

section li {
  line-height: 2rem;
}

section img {
  max-width: 100%;
}

code {
  padding: 1rem !important;
  border: 1px solid #ccc;
}

.content-section section {
  margin-top: 2rem;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* Maintain the aspect ratio of 1280x720 */
  border: 5px solid black; /* Optional: Remove border if any */
  border-radius: 15px;
}
